/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--oedi-paars:#4325c5;
    --oedi-roze:#f78da7;
    --oedi-oranje:#fecc01;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    color:var(--oedi-paars);
    background-color:var(--color-background);
    text-align: center;
    text-transform: uppercase;

}



h1 {
    font-family: 'Permanent Marker', cursive, Verdana, Arial;
    color: var (--colortext);
    text-align: center;
}

/*MENU dropdown menu*/
nav {
    background:  var(--oedi-roze);
    color: white;
    text-decoration: none;
}

ul {
    color: var(--oedi-roze);
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    background: var(--oedi-oranje);
    margin: 1em;
    text-decoration: none;
    padding: 1em;
    border-radius: 20px;
}
